<!-- layouts/shortcodes/futureSchedule.html -->
<div class="talks">
  {{ range $.Site.Data.pastSchedule }}
  {{ $talkDate := .date | time }}
  <div class="talk-item">
    <div class="talk-header">
      <div class="talk-title">{{ .title }}</div>
      <div class="talk-date">{{ $talkDate.Format "January 2, 2006" }}</div>
    </div>
    <div class="talk-speaker">{{ .speaker }}</div>
    <div class="talk-description">{{ .description }}</div>
  </div>
  {{ end }}
</div>

<style>
/* General styling for the talks list container */
/* Set the default width for larger screens */
.talks {
  width: 30vw;
  padding: 15px;
  margin-left: 10%;
}


/* Adjust the width to 100vw for smaller screens */
@media (max-width: 1920px) { /* Example breakpoint for "smaller screens" */
  .talks {
    width: 40vw;
  }
}

/* Adjust the width to 100vw for smaller screens */
@media (max-width: 768px) { /* Example breakpoint for "smaller screens" */
  .talks {
    width: 100vw;
  }
}

/* Styling for each talk item */
.talk-item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  margin-bottom: 20px;
  padding: 25px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effects for talk items */
.talk-item:hover {
  background-color: #f0f0f0;
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

/* Header containing the title and date */
.talk-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.talk-title {
  font-size: 1.2em; /* Adjust as needed */
  font-weight: bold;
}

.talk-date {
  font-size: 0.9em; /* Adjust as needed */
  color: #666; /* Optional: a different color to distinguish it further */

}

.talk-speaker {
  font-size: 1em; /* Adjust as needed */
  font-style: italic;
}

.talk-description {
  font-size: 0.9em; /* Adjust as needed */
  margin-top: 10px; /* Provide some spacing from the speaker line */
}
</style>